<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= image_tag 'characters.png', id: 'characters' %>

  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
    <%= f.button 'Get', type: 'button' %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, rows: 6, cols: 64 %>
  </div>
  <div class="field">
    <%= f.hidden_field :cache_text %>
  </div>
  <div class="field">
    <%= f.hidden_field :cache_image %>
    <%= image_tag @page.cache_image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
