<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @page.url %>
</p>

<p>
  <strong>Cache text:</strong>
  <%= link_to 'Text Cache URL', @page.cache_text %>
</p>

<p>
  <strong>Cache image:</strong>
  <%= link_to 'Image Cache URL', @page.cache_image %>
</p>

<%= image_tag @page.cache_image, alt: '', class: 'cache-image' %>

<p>
  <%= raw( @page.content.gsub( "\n", '<br>' ) )%>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
